/*

ion-item{

    .lista{
        overflow-wrap: break-word;
       
    }
   
     
}

ion-avatar {
    .quebra{
       
        overflow-wrap: break-word;
        word-break:break-all;
}
}

ion-badge{
    .bloco{
        margin: 10px;
        overflow-wrap: break-word;

    }
}

h3 {
    overflow-wrap: break-word;

}
*/